langchain
pydantic
python-doctr
matplotlib
mplcursors
Pillow
pdf2image
opencv-python
opencv-python-headless
langchain-openai
langchain-community
pandas
oracledb
crewai
crewai-tools
scikit-learn
streamlit